.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* for loading */
.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 10vw;
  height: 10vmax;
  border-bottom: 5px solid rgb(0, 0, 0.7);
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
/* fro pets */
.petsHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}
.pets {
  padding: 0 5vmax;
  justify-content: center;
}
/* for pet cards */
.petcard-title {
  color: #5e548e;
  font-size: 20px !important;
  line-height: 22.5px !important;
}
.petlikes {
  color: white;
}
.my-heart {
  line-height: 2rem;
}

i.my-heart {
  float: left;
  left: 10px;
  bottom: 10px;
}
.petcard-footer {
  background-color: #231942;
  height: 42px;
}

.petcard {
  transition: box-shadow 0.3s;
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
}
.petinner {
  overflow: hidden;
}
.petinner img {
  transition: all 1.5s ease;
}
.petinner:hover img {
  transform: scale(1.5);
}
.petinner img {
  height: 40vh !important;
  object-fit: cover;
  display: block !important;
}
/* pagination */
.paginationBox{
  display:flex;
  justify-content:center;
  margin:6vmax;
}
.pagination {
  display:flex;
  justify-content: center;
  padding:0;
}
.page-item{
  background-color:rgb(255,255,255) ;
  list-style:none;
  border:1px solid rgba(0,0,0,0.178);
  padding:1vmax 1.5vmax;
  transition: all 0.3s;
  cursor :pointer;
}
.page-item:first-child{
  border-radius: 5px 0 0 5px;
}

.page-link{
  text-decoration: none;
  font:300 1.7vmax "Roboto";
  color:rgb(80,80,80);
  transition:all 0.3s;
}
.page-item:hover .page-link{
  color:rgb(80,80,80);
}
.pageItemActive{
  background-color:tomato;
}

/* for error page */
#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50);
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Maven Pro", sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a {
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}
