.signbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1150&q=80");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

sup {
  color: red;
}
.signform-container {
  margin: 150px auto 40px auto;
  padding: 25px 20px;
  width: 400px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-box-shadow: -8px 6px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 25px 0px rgba(0, 0, 0, 0.75);
}
#btn {
  background-color: #231942;
  border-radius: 5px;
  color: white;
}
.para {
  text-align: center;
  margin-top: 10px;
  color:#FFF;
}

@media screen and (max-width: 500px) {
  .signform-container {
    width: 95%;
    margin: 20vh auto;
  }
}
